body {
  margin: 0;
  font-family: 'Merge One', sans-serif;
}

.background {
  background-color: black;
  width: 100vw;
  height: 87px;
  margin-top: 138px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textSearch {
  width: 200px;
  padding-left: 100px;
  border: none;
  border-radius: 5px;
}

.sign.and.regis {
  display: flex;
  gap: 10px;
}

.Sign.in,
.Register {
  width: 193px;
  height: 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.Sign.in {
  background-color: #d3d3d3;
}

.Register {
  background-color: rgb(19, 19, 19);
  color: white;
}

.text-header {
  text-align: left;
  padding: 20px;
}

.second-text {
  font-size: 30px;
  font-weight: bold;
}

.third-text {
  font-size: 20px;
  line-height: 1.5;
}

/* Category */
.text-center {
  text-align: center;
  margin-top: 50px;
}

.category {
  font-size: 25px;
  font-weight: bold;
}
