@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

.font-kaisei {
  font-family: 'Kaisei HarunoUmi', serif;
}